<aside *ngIf="showSideMenuBar">
    <div class="main-sidebar">
        <ul class="sidebar-list">
            <li class="user-profile sidebar-item">
                <div>
                    <img src="../../assets/images/user3-128x128.jpg" alt="user">
                    <span>Juliya Brus</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </div>
            </li>
            <li>
                <span class="section-header">PERSONAL</span>
            </li>
            <li class="sidebar-item">
                <div>
                    <i class="fa fa-dashboard center-align"></i>
                    <span>Dashboard</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </div>
            </li>
            <li class="sidebar-item">
                <div>
                    <i class="fa fa-th center-align"></i>
                    <span>App</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </div>
            </li>
            <li class="sidebar-item">
                <div>
                    <i class="fa fa-envelope center-align"></i>
                    <span>Mailbox</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </div>
            </li>
            <li class="sidebar-item">
                <div>
                    <i class="fa fa-laptop center-align"></i>
                    <span>UI Elements</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    
</aside>