<header class="main-header">
    <a href="index.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <b class="logo-mini">
            <span class="light-logo"><img src="../../assets/images/aries-light.png" alt="logo"></span>
        </b>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="../../assets/images/logo-light-text.png" alt="logo" class="light-logo">
        </span>
      </a>
      <nav-bar (onMenuClick)="doSomething($event)"></nav-bar>
      <menu-items [showSideMenuBar]="showSideBar"></menu-items>
</header>