<div class="container-box">
    <div class="header">
        <div>
            <h1>Dashboard
                <small>Control panel</small>
            </h1>
        </div>
        <div class="sub-header">
            <span> <i class="fa fa-dashboard"></i> Home </span>
            <span>></span>
            <span>Dashboard</span>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-12 ">
                  <div class="box">
                  <div class="row py-2">
    
                    <div class="col-sm-6 col-lg-3">
                      <div class="box-body br-1 border-light">
                        <div class="flexbox mb-1">
                          <span>
                            <i class="fa fa-user" aria-hidden="true"></i><br>
                            New Users
                          </span>
                          <span class="text-primary font-size-40">{{newUser}}</span>
                        </div>
                        <div class="progress progress-xxs mt-10 mb-0">
                          <div class="progress-bar" role="progressbar" style="width: 35%; height: 4px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
    
    
                    <div class="col-sm-6 col-lg-3 hidden-down">
                      <div class="box-body br-1 border-light">
                        <div class="flexbox mb-1">
                          <span>
                            <i class="fa fa-file-o" aria-hidden="true"></i><br>
                            Today Invoices
                          </span>
                          <span class="text-info font-size-40">{{ invoices }}</span>
                        </div>
                        <div class="progress progress-xxs mt-10 mb-0">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 55%; height: 4px;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
    
    
                    <div class="col-sm-6 col-lg-3 d-lg-block">
                      <div class="box-body br-1 border-light">
                        <div class="flexbox mb-1">
                          <span>
                            <i class="fa fa-info" aria-hidden="true"></i><br>
                            Open Issues
                          </span>
                          <span class="text-warning font-size-40">{{ openIssue }}</span>
                        </div>
                        <div class="progress progress-xxs mt-10 mb-0">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 65%; height: 4px;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
    
    
                    <div class="col-sm-6 col-lg-3 d-lg-block">
                      <div class="box-body">
                        <div class="flexbox mb-1">
                          <span>
                            <i class="fa fa-folder-open" aria-hidden="true"></i><br>
                            New Projects
                          </span>
                          <span class="text-danger font-size-40">{{ newProjects }}</span>
                        </div>
                        <div class="progress progress-xxs mt-10 mb-0">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
    
    
                  </div>
                </div>
            </div>
            <!-- /.col -->
              
          </div>
    </div>
</div>
