<nav class="navbar">
    <div class="hamburger">
        <a href="#" class="sidebar-toggle" role="button" (click)="clickMenu(menuClickCount);">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="search-box">
                <a class="nav-link hidden-sm-down" href="javascript:void(0)">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </li>
            <li class="dropdown messages-menu">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </li>
            <li class="dropdown notifications-menu">
                <i class="fa fa-bell" aria-hidden="true"></i>
            </li>
            <li class="dropdown tasks-menu">
                <i class="fa fa-sticky-note" aria-hidden="true"></i>
            </li>
            <li class="dropdown user user-menu">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </li>
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-cog fa-spin"></i></a>
            </li>
        </ul>
    </div>
</nav>